
{% extends '../../common/root-layout.twig' %}


{% block body %}

  <h1>{{ title }}</h1>

  <img class="mbs-logo" src="moebius.png" alt="Moebius">

  <p>Update this file according to your needs!</p>

  <p>
    <a href="/contacts">Have questions? Contact us!</a>
  </p>

{% endblock %}
